* {
    margin: 0px;
    padding: 0px;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared style */
.container {
    max-width: 1360px;
    margin: 0px auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color:rgba(70, 145, 101, 1);
}
.btn-2 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color:transparent;
    border: 1px solid white;
}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* hero section */
.hero-section {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container {
    padding: 115px 0px 180px 0px;
}
.dot-container {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center
}
.status-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cfe6d6;
    box-shadow: 0 0 0 4px rgba(111, 168, 122, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-dot-2 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #cfe6d6;
    box-shadow: 0 0 0 4px rgba(111, 168, 122, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-dot-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5f8f6b;
}
.early-access-text {
    font-size: 16px;
    font-weight: 500;
    color:rgba(70, 145, 101, 1)
}
.hero-title {
    font-size: 72px;
    font-weight: 700;
    text-align:center;
    color: white;
    margin: 16px 0px;
}
.hero-description {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 32px;
    text-align: center;
}
.hero-button {
    display: flex;
    gap: 16px;
    justify-content: center;
}