* {
    margin: 0px;
    padding: 0px;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared style */
.container {
    max-width: 1360px;
    margin: 0px auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color:#469165;
    cursor: pointer;
}
.btn:hover {
    background: #3a7b56;
}
.btn-2 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color:transparent;
    border: 1px solid white;
    cursor: pointer;
}
.btn-2:hover {
    box-shadow: 0 0 12px #ffffff;
}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* hero section */
.hero-section {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 674px;
}
.hero-container {
    padding: 115px 0px 180px 0px;
}
.early-section {
    display: flex;
    justify-content: center;
}
.dot-container {
    width: 229px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center
}
.dot-img {
    display: flex;
    align-items: center;
}
.early-access-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:rgba(70, 145, 101, 1)
}
.hero-title {
    font-size: 72px;
    font-weight: 700;
    text-align:center;
    color: white;
    margin: 16px 0px;
}
.hero-description {
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
    text-align: center;
}
.hero-button {
    display: flex;
    gap: 16px;
    justify-content: center;
}
/* notes section */
.notes-section {
    padding: 65px 0px 120px 0px;
}
.notes-heading {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #001931;
    margin-bottom: 16px;
}
.notes-description {
    font-size: 16px;
    text-align: center;
    color: #627382;
    margin-bottom: 44px;
}
/* card section */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px #00193113;
    border-radius: 8px;
    width: 322px;
    height: 300px;

}
.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 16px;
    margin-top: 45px;
}
.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.card-description {
    font-size: 16px;
    text-align: center;
    color: #627382;
    margin-bottom: 45px;
}
/* Your second brain section */
.knowledge-section {
    display: flex;
    align-items: center;
    gap: 60px;
}
.knowledge-img img {
    border-radius: 12px;
}
.knowledge-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
}
.knowledge-title {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.knowledge-description {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.knowledge-list li {
    list-style: none;
    display: flex;
    gap: 6px;
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
}
/* challenges section */
.challenge-Part {
    padding: 80px 0px;
    background-color: #F7F6F2;
    margin: 120px auto;
}
.challenge-title {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.challenge-text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
    color: #627382;
}
.challenge-button {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
/* footer section */
footer {
    background-color: #001931;
}
.footer-container {
    padding-top: 120px;
}
.footer-links {
    margin-right: 107px;
}
.footer-logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
}
.icons-text {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.icons {
    display: flex;
    gap: 16px;
}
.copyright hr {
    border: 1px solid #E5E7EB;
    opacity: 0.2;
}
.copyright-text {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    padding: 30px 0px;
}